<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./public/css/style.css" />
    <link rel="stylesheet" href="./public/css/fonts.min.css">
    <script src="./public/js//fonts.min.js"></script>
    <script src="./public/js/jquery.min.js"  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
    <script src="./public/js/popper.min.js"></script>   
  
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="">Apple</a>
                            <a class="dropdown-item" href="">Airpods</a>
                            <a class="dropdown-item" href="">Chargers</a>
                            <a class="dropdown-item" href="">Phone Cases</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="">Samsung</a>
                            <a class="dropdown-item" href="">Headphones</a>
                            <a class="dropdown-item" href="">Chargers</a>
                            <a class="dropdown-item" href="">Phone Cases</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
      
        </nav>
              <div class="navbar-light bg-light">
                    <form  action="/search" method="post">
                    <input  type="search"  placeholder="search" aria-label="Search"/>
                    <button type="submit">Search</button>
                </form>
            </div>
    </header>

</body>
<footer>
    <div class="contact-info">
        <p>Address: 1234 Gadget Street, Cityville, State, ZIP</p>
        <p>Email: info@slickgadgets.com</p>
        <p>Telephone: +27 6585 51062</p>
    </div>
    <div class="social-media">
        <h4>Follow Us</h4>
        <a href="https://www.facebook.com/slickgadgets" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-facebook"></i></a>
        <a href="https://www.twitter.com/slickgadgets" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/slickgadgets" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-square-instagram"></i></a>
        <!-- Add more social media links as needed -->
    </div>
    <p style="font-size: small;margin-top:20px">&copy; 2024 Slick Gadgets. All Rights Reserved.</p>
</footer>

</body>

</html>