<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" />
       <link rel="stylesheet" href="./fonts.min.css" />
       <script src="./js/fonts.min.js"></script>
</head>
<body style="background-color: rgb(255, 252, 252);">
<header>
  <nav>  
    <div class="navIcons">
        <div class="extraLinks">
      <a href="account" target="_blank" style="font-size: medium;">Account</a>
      <a href="history" target="_blank" style="font-size: medium;">Support</a>
    </div>
    <div>
      <a href="account" target="_blank" ><i class="fa fa-user" id="userIcon"></i></a>   
    <a href="cart" target="_blank"><i class="fa fa-shopping-cart"></i></a>
    </div>
  
  </nav>

  <nav class="splitNav">
      <button type="button" id="dropdownBtn">  <i class="fa fa-bars" id="dropdown"></i></button>
    <div class="dropdownContent">
      <a href="/" target="_blank">Home</a>
      <a href="product" target="_blank">services</a>
      <a href="about" target="_blank">About</a>
      <a href="contact" target="_blank">Contact Us</a>
      <a href="about" target="_blank">faq</a>
    </div>
<div class="search">
            <form action="/search" method="post">
                <input type="search" placeholder="search" aria-label="Search" id="searchField" />
              <button type="submit" id="searchBtn" > <i class="fas fa-search" ></i></button>
            </form>
        </div> 

        </nav> 
    </header>
       {{{body}}}

    </body>
<script>

  
    const toggleBtn = document.querySelector("#dropdownBtn");
    const menu= document.querySelector(".dropdownContent");
    let style= window.getComputedStyle(menu);
    let value= style.getPropertyValue("display");


    function showMenu(){

if(value=="none"){

      menu.style.display="block";
      value="block";
}

else{
  
      menu.style.display="none";
      value="none";
}
          
    }
   
    
    toggleBtn.addEventListener("click",showMenu);
</script>
    <footer>
      <div class="footerDiv">
        <div class="contact-info">
            <p> 1234 Gadget Street<br> Dennilton<br>Limpopo<br> 1030</p>
            <p><i class="fa fa-envelope"></i> info@slickgadgets.com</p>
            <p><i class="fa fa-phone"></i> +27 6585 51062</p>
        </div>
        <div class="footernav">
          <a href="home" target="_blank" class="a">Home</a>  
          <a href="services" target="_blank" class="a">services</a>
          <a href="terms" target="_blank" class="a">Temrs & Conditions</a>
          <a href="about"  target="_blank" class="a">About Us</a>
        </div>
        <div class="social-media">
            <h4>Follow Us</h4>
            <a href="https://www.facebook.com/slickgadgets" target="_blank" rel="noopener noreferrer"><i 
                    class="fa-brands fa-facebook" ></i></a>
            <a href="https://www.twitter.com/slickgadgets" target="_blank" rel="noopener noreferrer"><i
                    class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/slickgadgets" target="_blank" rel="noopener noreferrer"><i
                    class="fa-brands fa-square-instagram"></i></a>   
        </div>
          </div>
        <div class="rights">
        <p style="margin-top:10px;text-align:center">&copy; 2024 Belo Technologies. All Rights Reserved.</p>
          </div>
    </footer>

</html>