<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" />
       <link rel="stylesheet" href="./fonts.min.css" />
       <script src="./js/fonts.min.js"></script>
</head>
<body>

  <nav>
    
    
    <div class="navIcons">
        <div class="extraLinks">
      <a href="account" target="_blank" style="font-size: medium;">Account</a>
      <a href="history" target="_blank" style="font-size: medium;">Retunrs & Orders</a>
    </div>

    <div>
      <a href="account" target="_blank" ><i class="fa fa-user" id="userIcon"></i></a>   
    <a href="cart" target="_blank"><i class="fa fa-shopping-cart"></i></a>
    </div>
  
  </nav>

  <nav class="splitNav">
      <button type="button" id="dropdownBtn">  <i class="fa fa-bars" id="dropdown"></i></button>
    <div class="dropdownContent">
      <a href="/" target="_blank">Home</a>
      <a href="product" target="_blank">Products</a>
      <a href="history" target="_blank" id="hide">Returns & History</a>
      <a href="about" target="_blank">About</a>
      <a href="contact" target="_blank">Contact Us</a>
      <a href="about" target="_blank">faq</a>
    </div>
<div class="search">
            <form action="/search" method="post">
                <input type="search" placeholder="search" aria-label="Search" id="searchField" />
              <button type="submit" id="searchBtn" > <i class="fas fa-search" ></i></button>
            </form>
        </div> 

        </nav> 
    </header>
       {{{body}}}

    </body>
<script>

  
    const toggleBtn = document.querySelector("#dropdownBtn");
    const menu= document.querySelector(".dropdownContent");
    let style= window.getComputedStyle(menu);
    let value= style.getPropertyValue("display");


    function showMenu(){

if(value=="none"){

      menu.style.display="block";
      value="block";
}

else{
  
      menu.style.display="none";
      value="none";
}
          
    }
   
    
    toggleBtn.addEventListener("click",showMenu);
</script>
    <footer>
        <div class="contact-info">
            <p>Address: 1234 Gadget Street, Cityville, State, ZIP</p>
            <p>Email: info@slickgadgets.com</p>
            <p>Telephone: +27 6585 51062</p>
        </div>
        <div class="social-media">
            <h4>Follow Us</h4>
            <a href="https://www.facebook.com/slickgadgets" target="_blank" rel="noopener noreferrer"><i 
                    class="fa-brands fa-facebook" ></i></a>
            <a href="https://www.twitter.com/slickgadgets" target="_blank" rel="noopener noreferrer"><i
                    class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/slickgadgets" target="_blank" rel="noopener noreferrer"><i
                    class="fa-brands fa-square-instagram"></i></a>
            <!-- Add more social media links as needed -->
        </div>
        <p style="font-size: small;margin-top:20px">&copy; 2024 Slick Gadgets. All Rights Reserved.</p>
    </footer>

</html>