<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/all.min.css">
    <script src="bootstrap.min.js"></script>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
{{body}}

</body>
<footer>
    <div class="contact-info">
        <p>Address: 1234 Gadget Street, Cityville, State, ZIP</p>
        <p>Email: info@slickgadgets.com</p>
        <p>Telephone: +27 6585 51062</p>
    </div>
    <div class="social-media">
        <a href="https://www.facebook.com/slickgadgets" target="_blank" rel="noopener noreferrer">Facebook</a>
        <a href="https://www.twitter.com/slickgadgets" target="_blank" rel="noopener noreferrer">Twitter</a>
        <a href="https://www.instagram.com/slickgadgets" target="_blank" rel="noopener noreferrer">Instagram</a>
        <!-- Add more social media links as needed -->
    </div>
    <p>&copy; 2024 Slick Gadgets. All Rights Reserved.</p>
</footer>

</body>
</html>

</html>
