
<head>
    <title>Home</title>
    </head>

<body style="background-image: rgb(244, 244, 251);">
    
    <div id="intro" style="background-image: url(tech2.jpeg);opacity:1;background-repeat:no-repeat;background-size:cover; color:whitesmke;border:none">
      
        <h1>Belo Technologies</h1>
        <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id eius officia dolorem quo tempora veniam, veritatis, 
            ullam facere omnis voluptatum laboriosam asperiores
             voluptatem illum harum accusamus recusandae architecto autem aspernatur!</p>
            <div style="display: inline-block;">
                <button id="introBtn1">Promotions</button>
                <button id="introBtn2">Learn More</button>
            </div>
            </div>
    

<form action="/product" method="get">
<div class="row1">  
   {{#each popularProducts}}
   <div >
  <div class="product-container">
    <img class="product-image" src={{this.image}} alt="Product Image" >
    <h4 class="product-name">{{this.productName}}</h4>
    <h5 class="product-price">{{this.price}}</h5>
    <div class="product-description">{{this.rating}}</div>
    <div class="star-rating">⭐⭐⭐⭐⭐</div>
     <button type="submit" class="addBtn">Add to Cart</button>
</div>   
   {{/each}}
</div>
</div>
</form>
</body>


