#search{
background-color: aqua;
border-left: none;
border-color: aqua;
border-radius: 5px;

}

.intro{
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #b1adad;
    padding: 10px;
    border-radius: 3px;
}

.intro div{
    padding: 10px;
}

.top-menu a:hover{
   color: rgb(125, 122, 122);  
   text-decoration: none;
       
    }



.top-nav{
    float: right;
   margin-right: 3px;
   margin-top: 20px;
    
}



.top-menu a{
color: rgb(242, 184, 77);
font-weight: bold;
margin-left: 10px;


}

#apple, #samsung{ 
    background-color: grey;
    color: aliceblue;
    text-shadow:1px 1px aqua;
}

input{
    border-color: rgb(56, 55, 55);
}

header {
 
    color: white;
    padding: 10px 0;
    display: grid;
    padding-bottom: -20px;
    background-color: rgb(18, 17, 17);
    margin-bottom: 30px;
}

#logo{
    margin-left: -35px;
    margin-top: -20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color:rgb(58, 55, 55);
    font-weight: bold;
    
}
nav ul li a:hover {
    color: rgb(23, 22, 22);
}


footer {
    background-color:aqua;
    color: rgb(34, 34, 34);
    padding: 20px 0;
    text-align: center;
    font-weight:15px;
}
.contact-info {
    margin-bottom: 15px;
}
.social-media {
    font-size: 24px;
}
.social-media a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    margin: 0 10px;
}
.social-media a:hover {
    color: black;
}
a{
    text-decoration: none;
}

    
