#logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    color: pink;
    margin-left: 15px;
}

#searchBtn{
background-color: rgb(73, 73, 238);
border-left: none;
border-radius: 3px;
height: 31px;
max-width: 80%;
border: none;
color: white;
font-size: larger;
position: absolute;
z-index: 1;
margin-left: -5px;
height:30px;
margin-top: 1.5px;

}


#searchField{
    position: relative;
    border:none;
    border-radius: 5px;
    width: 90%;
    padding: 7px;
    margin-left: -23px;
    margin-bottom: 10px;
    margin-top: 2px;
    background-color: rgb(225, 231, 237);
}

.search{
    width: 100%;
    margin-left: 30px;
    
    
}




.row1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}

.intro div{
    padding: 10px;
}

.top-menu a:hover{
   color: rgb(125, 122, 122);  
   text-decoration: none;
       
    }

.top-menu{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.top-nav{
   margin-right: 3px;
   margin-top: 20px;

    
}


#apple, #samsung{ 
    background-color: grey;
    color: aliceblue;
    text-shadow:1px 1px aqua;
}

input{
    border-color: rgb(56, 55, 55);
}

header {
 
    color: rgb(74, 71, 71);
    background-color: rgb(13, 13, 63);
    box-shadow: 0 4px 8px orange;
    padding-top: 10px;
    display: grid;
    max-height: 200px;
   margin-bottom: 3px;
    }
    
    

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


nav ul li a:hover {
    color: rgb(23, 22, 22);
}


footer {
    background-color:rgb(215, 220, 220);
    color: rgb(34, 34, 34);
    padding-left: 20px;
    margin-top: 40px;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footerDiv{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.contact-info {
    margin-bottom: 15px;
}



a{
    text-decoration: none;
}

    
.product-container {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin: 20px;
    border-radius: 8px;
    width: 90%;
    text-align: center;
    background-color: rgb(249, 249, 249);
   
}


#prodImg{
    width:250px;
    filter:contrast(1.1);
    filter:opacity(1.5);
 
}

.product-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    font-size: 1.1em;
    margin-top: 5px;
}

.product-description {
    margin-top: 10px;
    color: #555;
}

.star-rating {
    margin-top: 10px;
    color: gold;
}
    
        .product {
            display: flex;
            border: 1px solid #ddd;
            padding: 20px;
            margin-bottom: 20px;
            background-color: white;
        }

        .product-image1 {
            flex: 1;
            margin-right: 20px;
        }

        .product-info {
            flex: 2;
        }

       .product img {
            max-width: 100%;
            height: auto;
        }

        .product h1,.product p,.product span {
            margin-bottom: 10px;
        }

        .addBtn {
            background-color:orangered;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .addBtn:hover {
            background-color: #45a049;
        }
        .similarProducts {
            display: flex;
            justify-content: space-between;
            font-family: Arial, sans-serif;
        }

        .product-card {
            flex: 1;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
            background-color: white;
            margin: 10px;
            padding: 20px;
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .product-container h2, .product-container p {
            margin: 0;
        }

#contactUs{
    display: grid;
    width: 65%;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    background-color: rgb(62, 60, 60);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1.2px 1.2px black;
}


        #name,  #email, #message, #number{
            width: 90%;
            border-radius: 5px;
            border: none;
            background-color: rgb(149, 155, 155);
        }

        #send{
            color: rgb(255, 246, 246);
            font-weight: bold;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 90%;
            font-size: larger;
            background-color: orangered;
            box-shadow: 1px 1px 1.3px 1.3px orangered;
        }

        ::placeholder{
            color: #817676;
        }

        .instock{
            color: #108916;
            font-weight: bold;
           
        }

        .cart{

            display: grid;
            grid-template-columns: 2fr 1fr;
        }

        .cartItems{
            
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin: 20px;
    border-radius: 8px;
    background-color: rgb(249, 249, 249); 
    display: grid;
    grid-template-columns: 1fr 2fr;
    
        }

        #checkout{
            background-color: orangered;
            border: none;
            color: white;
            border-radius: 7px;
            width: 90%;
            padding: 4px;
            margin-left: 5%;
            font-size: larger;
        }
        
        .cartBtn, .cartSpan{
            padding: 10px;
            border-radius: 4px;
            background-color: whitesmoke;
            border: none;

        }
 

        
 
#dropdownBtn{
    position: relative;
    display: inline-block;
    font-size: 20px;
    border: none;
    background-color:orange;
}

.dropdownContent{
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0.5px 0.6px 0.7px 0.8px rgb(226, 224, 224);
background-color: #f9f9f9;
min-width: 160px;
padding: 9px;
}



.navIcons{
    float: right;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
   
}

.navIcons a{
    margin-left: 18px;
    font-size: 20px;
    color: rgb(228, 224, 224);
    
    
}


.extraLinks{
    display: none;
}

.dropdownContent a{
    display: block;   
    color: rgb(45, 44, 44);
    margin-bottom: 10px;
    font-weight: bold;

  }



  a:hover{
    background-color: rgb(63, 62, 59);
    color: aliceblue;
  }

@media screen and (min-width:800px){


    #userIcon{
        display: none;

    }

    .navLinks,.extraLinks{
        display: block;
    }

    

    #dropdownBtn{
        display: none;
    }

    .dropdownContent{
        display: inline-block;
        position:unset;
        z-index:unset;
        background-color: unset;
        box-shadow: unset;
        padding-top: 20px;
       padding-bottom: -20px;
    }

    .dropdownContent a{
        display: inline-block;   
        margin-bottom: 0px;
        margin-left: 14px;
      }

  .search{
    width: 80%;
    margin-left: 20%;
    margin-top: 20px;
}

#hide{
    display: none;
}

.splitNav{
    display: grid;
    grid-template-columns: 1fr 1fr;
  

}

#introBtn1, #introBtn2{
    width: 80px;
    padding: 14px;
}

#intro p{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:17px;
    margin-bottom:20px;
}


#intro h1{
    font-size:30px;
}



footer, .footernav a{
    font-size: 14px;
  
}




    
}



#intro{
   
    color: #d4d5df;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 70px;
    text-align: center;
    padding-top: 6px;
    filter: contrast(1.8);
    filter: brightness(0.94);
  
}

#introBtn1{
    background-color: rgb(248, 216, 221);
    color: navy;
    padding: 10px;
    width: 110px;
    border: none;
    border-radius: 7px;
    border: 1px solid rgb(247, 247, 255);
    box-shadow: 0.5px 0.5px 0.7px 0.7px rgb(0, 128, 255);
    margin-right: 20px;
    opacity: 1.5;
    filter: contrast(1.7);
    filter: brightness(1.3);
}


#introBtn2{
    background-color:rgb(25, 25, 104);
    color: pink;
    padding: 10px;
    width: 110px;
    border: 1px solid rgb(225, 232, 237);
    border-radius: 7px;
    box-shadow: 0.5px 0.5px 0.7px 0.7px rgb(255, 189, 65);
    opacity: 1.5;
    filter: contrast(1.7);
    filter: brightness(1.5);
}


button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#intro h1{
    font-family:sans-serif;
    font-weight:lighter;
    color: orange;
    opacity: 1.2;
    filter: contrast(1.2);
    filter: brightness(1);
    font-size: 25px;
}

#intro p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:0.5px;
    font-size:15px;
    margin-bottom:30px;  
    opacity: 1.2;
    filter: contrast(1.2);
    filter: brightness(1);
}

.splitNav{
    background-color:orange;
    max-height:70px ;
}

.a{

    color:black;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 15px;

}

.footernav{
    margin-bottom: 20px;
    margin-top: 20px;
}



.social-media h4{
    margin-left: 14px;
    font-size: 13px;
}


.social-media a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    margin-left:10px;
    font-size: 16px;
}

.social-media a:hover {
    color: black;
}

.rights{
    font-size: 11px;
    font-weight: bold;
    
}
